        <!-- Footer -->
        <footer class="container-fluid bg-white" th:fragment="footer">
            <div class="row align-items-center py-4">
                <div class="col-md-6">
                    <p class="m-0">Library Management</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="m-0">HTML Website Template By: <a href="https://templatesjungle.com/" class="text-decoration-underline" target="_blank">TemplatesJungle</a></p>
                </div>
            </div>
        </footer>

    